* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 16px;
}

.App {
  background-color: #EEEEEE;
  width: 100vw;
  height: 100vh;
}

/*navigations*/
.navigation {
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: #E7E7E7;
}

.site-title {
  font-weight: 700;
  font-size: 1.7em;
}

.search-bar {
  height: 36px;
  width: 60%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 0.9rem;
}

.contact-button {
  color: #ffffff;
  background-color: black;
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  font-size: 0.8rem;
}

/*navigationここまで*/

/*main*/
.main {
  width: 50%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  left: 13px;
  padding: 5% 0;
}

.date-bar {
  display: flex;
  align-items: end;
  height: 3%;
}

.date-bar h3 {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.date-bar p {
  margin-left: 20px;
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.9rem;
}

.todo-types-list {
  display: flex;
  margin-top: 2%;
  height: 2%;
}

.todo-types {
  list-style: none;
  display: flex;
  margin-left: 8px;
  align-items: center;
  cursor: pointer;
}

.private div {
  color: purple;
  font-size: 1.5rem;
}

.work div {
  color: green;
  margin-left: 8px;
  font-size: 1.5rem;
}

.school div {
  color: red;
  margin-left: 8px;
  font-size: 1.5rem;
}

.others div {
  color: black;
  margin-left: 8px;
  font-size: 1.5rem;
}

.private p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.work p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.school p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.others p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.operations {
  width: 100%;
  height: 89%;
  margin-top: 4%;
  position: relative;
}

.todo-operating-ui {
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 82%;
}

.no-task-dialog {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
}

.todos {
  width: 100%;
  list-style: none;
  height: auto
}

.todo {
  width: 610px;
  height: auto;
  background-color: white;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.todo-date_left_box {
  display: flex;
  ;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}

.complited-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
}

.complited-button input {
  display: none;
}

.complited-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
}

.complited-button input {
  display: none;
}

.circle {
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  /* 緑色の枠線 */
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  position: relative;
  top: 3px;
}

.checkmark {
  position: absolute;
  left: 7px;
  top: 8px;
  width: 7px;
  height: 11px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: scale(0) rotate(45deg);
  transition: transform 1s ease-in-out;
}

.complited-button input:checked+.circle {
  background-color: #000000;
  transform: scale(1.1);
}

.complited-button input:checked+.circle+.checkmark {
  transform: scale(1) rotate(45deg);
}

.todo-date {
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.todo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.todo-detail {
  font-size: 0.7rem;
  font-weight: 600;
  color: #9C9C9C;
  margin-top: 2px;
}

.todo-timelimit {
  font-size: 0.7rem;
  font-weight: 600;
  color: red;
  margin-top: 2px;
}

.todo-date_right_box {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  width: 150px;
  position: relative;
  flex-direction: column;
}

.option-button {
  color: #9C9C9C;
  font-size: 0.7rem;
  cursor: pointer;
}

.todo-types-copy {
  position: relative;
  top: 22px;
  display: flex;
  align-items: center;
}

.private-copy div {
  color: purple;
  font-size: 1.5rem;
}

.work-copy div {
  color: green;
  margin-left: 8px;
  font-size: 1.5rem;
}

.school-copy div {
  color: red;
  margin-left: 8px;
  font-size: 1.5rem;
}

.other-copy div {
  color: black;
  margin-left: 8px;
  font-size: 1.5rem;
}

.private-copy p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.work-copy p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.school-copy p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.other-copy p {
  color: #9C9C9C;
  font-weight: 600;
  font-size: 0.7rem;
}

.overflow-menu {
  width: 60px;
  height: auto;
  list-style: none;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 8px;
  left: 105%;
  cursor: pointer;
}

.overflow-menu li {
  width: 100%;
  height: 20%;
  padding: 8%;
  font-size: 0.7rem;
  color: rgb(62, 62, 62);
}

.overflow-menu li:hover {
  background-color: rgb(225, 225, 225);
}

.todo-setting-ui {
  display: flex;
  height: 13%;
  width: 86%;
  margin: 0 auto;
  margin-top: 5%;
}

.set-todo-button-box {
  width: 90%;
  height: 100%;
  margin-right: 1%;
}

.set-todo-button {
  color: blue;
  background-color: #E7E7E7;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: 600;

}

.sort-button-box {
  border-radius: 5px;
  background-color: #E7E7E7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  height: 100%;
  cursor: pointer;
}

.sort-button-box svg {
  position: relative;
  left: 2.5px;
}

.input-form {
  background-color: #f8f9fa;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  max-width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-form ul {
  list-style: none;
}

.input-form li {
  margin-bottom: 16px;
}

.todo-name-setting,
.todo-detail-setting,
.todo-timelimit-setting,
.todo-type-setting {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #333;
  text-align: start;
}

.todo-name-setting label,
.todo-detail-setting label,
.todo-timelimit-setting label {
  margin-bottom: 8px;
}

.todo-name-setting input,
.todo-detail-setting textarea,
.todo-timelimit-setting input {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9rem;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.todo-detail-setting textarea {
  height: 80px;
  resize: vertical;
}

.todo-type-setting ul {
  border: 1px solid #ced4da;
  padding: 10px;
  padding-bottom: 0;
}

.todo-type-setting input {
  margin-left: 5px;
}

.todo-name-setting input:focus,
.todo-detail-setting textarea:focus,
.todo-timelimit-setting input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}



.submit-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.submit-button {
  background-color: #007bff;
  color: #fff;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #6c757d;
  color: #fff;
}

.cancel-button:hover {
  background-color: #5a6268;
}

.todo-sort-input-form {
  list-style: none;
  background-color: #f8f9fa;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  max-width: 500px;
  height: auto;
  padding: 5px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;

}

.container h2 {
  font-size: 0.8rem;

}

.x-button {
  width: auto;
  height: auto;
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.todo-sort-input-form ul {
  list-style: none;
}

.todo-sort-input-form ul li {
  margin-top: 5px;
}

.todo-sort-input-form ul li label {
  font-size: 0.8rem;
}

.todo-sort-input-form ul li input {
  margin-left: 5px;
  position: relative;
  top: 2px;
}



/*mainここまで*/
